/* ГЛОБАЛЬНЫЙ ФОН */
body {
  background-color: #0a0202;
  background-image: radial-gradient(circle at 50% 50%, #1a0505 0%, #000000 100%);
  color: #ffffff;
  min-height: 100vh;
}

/* ОСНОВНОЙ КОНТЕЙНЕР */
.page-container {
  width: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  color: #ff3300;
  letter-spacing: 2px;
}

.nav-icons {
  display: flex;
  gap: 25px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-btn img {
  width: 23px;
  height: 23px;
  transition: transform 0.2s;
}
.icon-btn img:hover {
  transform: scale(1.12);
}

/* SEARCH DROPDOWN */
.search-dropdown {
  position: absolute;
  right: 60px;
  top: 130px;
  background: #111;
  padding: 20px;
  width: 260px;
  border-radius: 12px;
}

.search-dropdown input {
  width: 100%;
  padding: 10px;
  background: #222;
  border: none;
  color: white;
  outline: none;
}

/* CART PANEL */
.cart-panel {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background: #111;
  padding: 30px;
  transition: right 0.3s ease;
  border-left: 1px solid #333;
}

.cart-panel.open-cart {
  right: 0;
}

.cart-panel h2 {
  margin-bottom: 15px;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  width: 100%;
}

/* СЕТКА ТОВАРОВ */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.product-card:hover .product-image {
  transform: translateY(-5px);
  opacity: 0.9;
}

.product-image {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: contain; /* важно для PNG без фона */
  transition: 0.3s ease;
}

.card-details-placeholder p {
  margin: 0;
  font-size: 15px;
  color: #bbb;
}

/* FOOTER */
.footer {
  padding: 40px 0;
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
}
